<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Yönetici Panali</title>
</head>
<body class="bg-secondary p-2 text-dark bg-opacity-10">
    <div class="m-2 p-2 navigation">
        <ul class="nav h4 pb-2 mb-4 text-danger border-bottom border-danger">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home/homepdf">
                    <button type="button" class="btn btn-info">Dökümanı Görüntüle</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home/usermanagement">
                    <button type="button" class="btn btn-info">Kullanıcıları Yönet</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home/logout">
                    <button type="button" class="btn btn-danger">Çıkış Yap</button>
                </a>
            </li>
          </ul>
    </div>
    <% if (locals.flashStreamError) { %>
        <p class="fs-6 text-danger"><%= flashStreamError %> </p>
    <% } %>
    <% if (locals.flashPdfRenderError) { %>
        <p class="fs-6 text-danger"><%= flashPdfRenderError %> </p>
    <% } %>
    <div class="m-2 p-2 confirm-load d-flex flex-row flex-wrap justify-content-around ">
        <div class="m-2 p-2 my-confirm-table flex-1">
            <% if (locals.flashConnectionerror) { %>
                <p class="fs-6 text-danger"><%= flashConnectionerror %> </p>
            <% } %>
            <table class="table">
                <thead>
                  <tr class="table-danger">
                    <th scope="col">No</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Soyisim</th>
                    <th scope="col">Sicil</th>
                    <th scope="col">Rolü</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="table-success">
                    <% waitingRequests.forEach((item,index) => { %>
                        <tr>
                            <form action="home/admin/registeredornot" method="post">
                                <th scope="row"><%= index+1  %></th>
                                <td hidden>
                                    <input type="text" class="form-control" id="objID" name="objID" value="<%= item._id %>" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= item.name %>" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="surname" name="surname" value="<%= item.surname %>" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="workerID" name="workerID" value="<%= item.workerID %>" required>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="_role" id="<%= item.fullname %>user" value="user" required>
                                        <label class="form-check-label pb-2 mb-4 text-info border-bottom border-info itext-info" for="<%= item.fullname  %>user">
                                          Kullanıcı
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="_role" id="<%= item.fullname %>admin" value="admin" >
                                        <label class="form-check-label pb-2 mb-4 text-danger border-bottom border-danger" for="<%= item.fullname %>admin">
                                          Yönetici
                                        </label>
                                      </div>
                                </td>
                                <td>
                                    <input class="btn btn-success" type="submit" class="form-control" id="confirm" name="confirm" value="Onayla">
                                </td>
                                <td>
                                    <input class="btn btn-danger" type="submit" class="form-control" id="reject" name="reject" value="Reddet">
                                </td>
                            </form>
                        </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
        <div class="m-2 p-2 my-load-doc flex-1 p-2 text-dark bg-opacity-10">
            <p class="fs-4 border-bottom text-info">Haftalık PDF Dökümanını Yükle</p>
            <% if (locals.flashJustPdf) { %>
                <p class="fs-6 text-danger"><%= flashJustPdf %> </p>
            <% } %>
            <% if (locals.flashSizeFile) { %>
                <p class="fs-6 text-danger"><%= flashSizeFile %> </p>
            <% } %>
            <% if (locals.flashConnectionerrorloaded) { %>
                <p class="fs-6 text-danger"><%= flashConnectionerrorloaded %> </p>
            <% } %>
            <% if (locals.flashFileSaved) { %>
                <p class="fs-6 text-success"><%= flashFileSaved %> </p>
            <% } %>
            <form action="home/admin/documentloaded" method="post" enctype="multipart/form-data">
                <div class=" d-flex flex-row flex-wrap justify-content-around">
                    <div class="m-2">
                        <input class="form-control bg-info" id="pdffile" name="pdffile" type="file" accept=".pdf" required>
                    </div>
                    <div class="m-2">
                        <input class="btn btn-success" type="submit" class="form-control" id="documentload" name="documentload" value="Yükle">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>